/* src/components/NotFound.css */

.not-found {
    padding: 50px;
    text-align: center;
  }
  
  .not-found h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .not-found h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .not-found p {
    font-size: 1.25rem;
  }
  